@use '_variables' as *;
@use '_mixins' as *;

.entry-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.entry-block {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.entry-label {
  flex-grow: 1;
  word-break: break-all;
}
